{{- $isWindows := eq .chezmoi.os "windows" -}}
encryption = "gpg"
mode = "symlink"

[gpg]
    recipient = "2E5BD225E500AB50"
    {{ if eq .chezmoi.os "windows" -}}
    command = "C:/Program Files/GnuPG/bin/gpg.exe"
    {{- end }}

[git]
    autoCommit = true
    autoPush = true

[data]
    isWindows = {{ $isWindows }}
