:root {
	--ctp-rosewater: #a292a3;
	--ctp-flamingo: #b6927b;
	--ctp-pink: #a292a3;
	--ctp-mauve: #8992a7;
	--ctp-red: #c4746e;
	--ctp-maroon: #c4746e;
	--ctp-peach: #b6927b;
	--ctp-yellow: #c4b28a;
	--ctp-green: #8a9a7b;
	--ctp-teal: #8ea4a2;
	--ctp-sky: #949fb5;
	--ctp-sapphire: #8ba4b0;
	--ctp-blue: #8ba4b0;
	--ctp-lavender: #8992a7;
	--ctp-text: #c5c9c5;
	--ctp-subtext1: #9e9b93;
	--ctp-subtext0: #a6a69c;
	--ctp-overlay2: #7a8382;
	--ctp-overlay1: #737c73;
	--ctp-overlay0: #625e5a;
	--ctp-surface2: #625e5a;
	--ctp-surface1: #393836;
	--ctp-surface0: #282727;
	--ctp-base: #0d0c0c;
	--ctp-mantle: #12120f;
	--ctp-crust: #1d1c19;
}
