:root {
	--ctp-rosewater: #c4746e;
	--ctp-flamingo: #c4746e;
	--ctp-pink: #c4746e;
	--ctp-mauve: #8992a7;
	--ctp-red: #c4746e;
	--ctp-maroon: #c4746e;
	--ctp-peach: #c4746e;
	--ctp-yellow: #c4b28a;
	--ctp-green: #8a9a7b;
	--ctp-teal: #8ba4b0;
	--ctp-sky: #8ba4b0;
	--ctp-sapphire: #8ba4b0;
	--ctp-blue: #8ba4b0;
	--ctp-lavender: #8992a7;
	--ctp-text: #c5c9c5;
	--ctp-subtext1: #8a9a7b;
	--ctp-subtext0: #8a9a7b;
	--ctp-overlay2: #8992a7;
	--ctp-overlay1: #8992a7;
	--ctp-overlay0: #8992a7;
	--ctp-surface2: #625e5a;
	--ctp-surface1: #393836;
	--ctp-surface0: #282727;
	--ctp-base: #0d0c0c;
	--ctp-mantle: #12120f;
	--ctp-crust: #1d1c19;
}
