(
    selected_tab: Some("#8992a7"),
    command_fg: Some("#c5c9c5"),
    selection_bg: Some("#282727"),
    selection_fg: Some("#c5c9c5"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1d1c19"),
    disabled_fg: Some("#625e5a"),
    diff_line_add: Some("#8a9a7b"),
    diff_line_delete: Some("#c4746e"),
    diff_file_added: Some("#8a9a7b"),
    diff_file_removed: Some("#c4746e"),
    diff_file_moved: Some("#8992a7"),
    diff_file_modified: Some("#c4b28a"),
    commit_hash: Some("#8ba4b0"),
    commit_time: Some("#c4b28a"),
    commit_author: Some("#8a9a7b"),
    danger_fg: Some("#c4746e"),
    push_gauge_bg: Some("#8ba4b0"),
    push_gauge_fg: Some("#0d0c0c"),
    tag_fg: Some("#c4b28a"),
    branch_fg: Some("#8a9a7b")
)
