[Desktop Entry]
Type=Application
Version=1.0
Name=Tunnel Agent
Comment=Start Tunnel Agent at login
Exec=/home/mikel/.local/bin/tunnel-agent --start-in-tray
Terminal=false
X-GNOME-Autostart-enabled=true
